.extra {
    margin-bottom: 40px;
}

.extra__title {
    margin: 0;
    padding-left: 20px;
    padding-bottom: 30px;

    font-size: 24px;
    color: #111111;
    font-weight: inherit;
}

.extra__item {
    padding-left: 20px;
}

.extra__item-title {
    margin: 0;
    padding-bottom: 15px;

    font-size: 16px;
    text-transform: uppercase;
    font-weight: inherit;
}

.extra__item-details {
    display: flex;
    justify-content: space-between;

    padding-bottom: 14px;

    font-size: 14px;
    font-family: @font-arial;
    color: #444444;
}

.extra__order-button {
    // margin-right: 20px;
    margin-bottom: 25px;
    padding: 13px 108px 12px 111px;

    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #68b738;
}
