.intro {
    width: 320px;
    margin: 0 auto;
}

.intro__text {
    display: flex;
    flex-direction: column;

    // width: 260px;

    // padding-bottom: 159px;

    position: relative;
    min-height: 305px;

    color: #ffffff;

    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
}

.intro__title {
    margin: 0;
    padding-top: 29px;
    padding-bottom: 19px;

    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    text-align: center;
}

.intro__slogan {
    margin: 0;

    // padding: 0 62px 300px 60px;
    padding-bottom: 300px;

    text-align: center;

    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
}

.intro__picture {
    position: absolute;

    margin-top: 150px;
    // margin-left: -290px;
}

.intro__search-button {
    padding: 14px 74px 11px 73px;
    margin-left: 20px;

    background-color: #68b738;

    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}

@media (min-width: @tablet-width) {
    .intro {
        min-height: 500px;
        width: 420px;

        margin-left: 120px;
    }

    .intro__text {        
        padding-bottom: 20px;
        // margin-left: -120px;

        color: #111111;

        background-image: none;
        // text-align: left;
    }

    .intro__title {
        padding-bottom: 33px;
        // width: 420px;

        font-size: 60px;
        line-height: 60px;
        text-align: left;
    }

    .intro__slogan {
        padding-bottom: 48px;
        // padding-left: 0;

        text-align: left;

        font-size: 20px;
        line-height: 20px;
    }

    .intro__search-button {
        margin: 0;
        padding: 17px 29px 15px 26px;

        text-align: left;

        font-size: 20px;
    }

    .intro__picture {
        z-index: -1;

        margin-top: 220px;
        margin-left: 150px;
    }
}

@media (min-width: @desktop-width) {
    .intro {
        display: flex;

        width: 1200px;
        padding-left: 193px;
    }

    .intro__text {
        width: 600px;

        margin-top: 113px;        
    }

    .intro__picture {
        z-index: 1;

        margin-left: 380px;
    }

    .intro__desktop-bg {
        min-height: 696px;
        width: 600px;

        background-image: url("../img/index-background-desktop@1x.jpg")
    }
}
