.page-header {
    display: flex;
    min-height: 65px;
}

.page-header__logo {
    width: 191px;
    height: 39px;

    margin: 11px 60px 15px 20px;
}

.main-nav__toogle {
    padding: 0;
    margin: 23px 19px 23px 0;
    border: none;
}
