.page-header {
    margin: 0 auto;

    width: 320px;
	min-height: 65px;	
}

.page-header__logo__wrapper {
    display: flex;
    // justify-content: space-between;

	margin: 0 auto;
	
	border-bottom: 1px solid lightgray;
}

.page-header__logo {
    width: 191px;
    height: 39px;

    margin: 7px 70px 15px 10px;
}

.main-nav__toggle {
    padding: 0;
    // margin: 23px 19px 23px 0;

    // background-image: url("../img/icon-mobile-menu.svg");
    // width: 45px;
    // height: 29px;
    // background-repeat: no-repeat;
    // background-image: url("../img/icon-close.svg");
    // background-color: #ffffff;
	border: none;
	background: none;
}

.main-nav {
    margin: 0 auto;
    padding: 0;

    font-size: 20px;
    color: #111111;
    font-weight: 500;
    text-transform: uppercase;

      ul {
        margin: 0;
      }
}

.main-nav__wrapper {
    margin: 0 auto;
}

.main-nav a {
    color: inherit;
}

.main-nav__list {
    display: flex;
    flex-direction: column;

    min-height: 178px;

    .list-reset();
}

.site-list__item {	
	border-bottom: 1px solid lightgray;

    padding-top: 15px;
    padding-bottom: 20px;

    // width: auto;
    text-align: center;
}

@media (max-width: @mobile-width-only) {
    .main-nav--closed {
        display: none;
    }

    .main-nav--opened {
        display: block;
    }
}

@media (min-width: @tablet-width) {
    .page-header {
        width: 768px;

        display: flex;
        justify-content: space-between;
    }

    .page-header__logo__wrapper {
        display: block;
    }

    .page-header img {
        width: 174px;
        height: 59px;
    }

    .main-nav {
        // margin: 0 auto;

        font-size: 18px;
        font-weight: normal;
        color: #222222;
    }

    .main-nav__toggle {
        display: none;
    }

    .main-nav__list {
        display: flex;
        flex-direction: row;

        margin: 0;
        padding-top: 10px;

        min-height: 50px;
    }

    .site-list__item {
        padding-right: 36px;
    }
}

@media (min-width: @desktop-width) {
    .page-header {
        position: absolute;

        width: 1200px;        

        margin: 0 auto;
        margin-left: 10%;
    }

    .page-header__logo__wrapper {
        // margin: 0 auto;
        margin: 0;
        padding-right: 300px;
    }

    .page-header img {
        // margin-right: 30%;
        width: 203px;
        height: 60px;
    }

    .main-nav {
        // width: 550px;

        font-size: 20px;
        color: #ffffff;
    }

    .page-header--inner {
        position: relative;

        .main-nav {
            color: #111111;
        }
    }
}
