

.profile__personal-info {
    display: flex;
}

.profile__title {
    padding-left: 22px;

    font-size: 36px;
    color: #111111;
    font-weight: inherit;
}

.profile__text {
    padding-left: 20px;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: left;
    color: #111111;
}

.profile {
    fieldset {
        border: none;
    }

    label {
        // display: flex;

        padding-bottom: 20px;
        font-size: 16px;
        text-transform: uppercase;
    }
}

/*
input[type="text"],
input[type="tel"],
input[type="number"] {
    height: 45px;

    box-sizing: border-box;
}
*/

.profile__name {
    width: 229px;
    height: 45px;
    // padding-left: 15px;
}

.profile__weight {
    width: 204px;
    height: 45px;
}

.profile__age {
    width: 160px;
    height: 45px;
}

.profile__type-of-program {
    display: flex;
}

.profile {
    legend {
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 24px;
        color: #111111;

        text-align: left;
    }
}

.profile__e-mail {
    width: 219px;
    height: 45px;
}

.profile__number {
    width: 190px;
    height: 45px;
}

.profile__contact-info {
    display: flex;
}

.profile__comment-field {
    width: 100%;
    min-height: 150px;
}

.profile__additionals {
    display: flex;
}

.additionals__list {
    list-style: none;
    padding: 0;
}

.profile__submit {
    padding: 13px 77px 11px 80px;
    margin-bottom: 23px;
    margin-right: 20px;

    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #68b738;
}

.profile__required-text {
    margin-bottom: 34px;

    text-align: center;

    font-size: 14px;
    color: #444444;
}
